*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(27, 65, 148);
color: white;
}
.father{
   
background-color: rgb(18, 110, 153);
padding: 20px;
display:flex ;
justify-content: space-between;


}
.f1{
    display: flex;
    justify-content:space-between;
width: 100px;
height: 70px;
}
.f2{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
button{
    border: 1px ;
    border-radius: 30px;
    background-color: rgb(116, 102, 182);
height: 40px;
width: 100px;
color: white;
cursor: pointer;
}
a{
text-decoration-line: none;
color: white;
}
.f3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-decoration: underline;
color: white;
}
.father2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
    gap: 15px;
   
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}
